*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1640px !important;
    margin: auto;
}
.saidbar{
    display: flex;
    flex-direction: column;
}
input{
    width: 350px;
    padding: 10px;
    margin-top: 10px;
}
select{
    width: 350px;
    padding: 10px;
    margin-top: 10px;
}
.btn-1{
    width: 350px;
    padding: 12px;
    background-color: rgb(29, 29, 252);
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}
::placeholder{
    font-size: 16px;
}
select{
    font-size: 16px;
    color: grey;
  
}
.disp{
    display: flex;
}
.text1{
    padding-left: 15px;
    padding-top: 15px;
}
.calendar{
    display: flex;
}
.title2{
    padding-left: 15px;
    padding-top: 4px;
}
.btn1{
    border-color: green;
    color: green;
    width: 139px;
     padding: 5px;
}
.btn2 {
    border-color: blue;
    color: blue;
    width: 139px;
     padding: 5px;
     margin-left: 15px;
}
.btn3 {
    border-color: red;
    color: red;
    width: 139px;
    margin-left: 70px;
    margin-top: 20px;
    padding: 5px;
    
}
.img1{
    width: 300px;
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
  

}
.title1{
    font-size: 18px;
}
.wrapeer{
   
    display: flex;
    flex-wrap: wrap;
    margin-top: 200px;
    height: 70vh;
    overflow-y: scroll;
 
  
}
.result{
    float: right;
}
.saidbar{
    width: 25%;
    float: left;
    margin-top: 100px;
}
.box{
    margin-bottom: 25px;
}
.ota{
    width: 75%;
    float: right;
    display: flex;
    flex-direction: column;
}
.catalog{
    font-size: 42px;
    font-family: sans-serif;
    text-align: center;
}
.search{
    font-size: 24px;
    font-family: sans-serif;
    padding-top: 40px;
    position: absolute;
}
.use{
    position: absolute;
    background-color: aqua;
    width: 64%;
    padding: 20px;
    border-radius: 10px;
    top: 150px;
}
.book{
    padding-top: 20px;
    font-size: 32px;
}




